- display.welcomeMessage()
. display.displayOptionToPlayOrQuit()
- display.getPlayOrQuit()
. core.playGame()
. quitGame()
- display.getUpperBoundInput()
. core.setUpperBoundInput()
. core.getMaxNumGuesses()
. display.MaxNumGuesses()
- getUpperRange()
- displayUpperRange()
- displayUserNumSelect()
- iterateCurrentGuess()
- computeSystemGuess()
- displaySystemGuess()
- displayChoices()
- receiveChoice()
- displayWin()
- displayLose()