System_Level_Requirements
 
.The system shall provide a means for the user to start the game.
.The system shall provide a means for the user to quit the game.
.The system shall be able to display the guessable range (1 – 1023)
.The system shall provide a means for User to inform the device that he/she has selected a number between 1 and 1,023.
.The system shall be able to find the number in 10 guesses or less
.The system shall be able to compute a guess.
.The system shall be able to display the computed guess.
.The system shall be able to keep track of the guess iteration.
.The system shall be able to display the guess iteration.
.The system shall provide a means for the user to provide feedback on the guess:
 ·The guess is correct.
 ·The guess is too high
 ·The guess is too low.
.The system shall end the game dependent upon User input (The guess is correct) OR if the max number of guesses is exceeded.
.The system shall make a subsquent guess dependent upon User input (The guess is not correct).
.The system shall have a way to quit the application or play again once the game has ended.
 
Extra Credit:
.A means for the user to set the upper bound
.The system shall be able to find the number in maxNumOfGuesses guesses or less, based on the binomial theorem to log base 2 to determine number of guesses, round up to whole number if log is a decimal
