This program shall open when lauched by the user.

The program shall display options to either play or quit to the user.

If the program is selected to play, the user shall be prompted for an upper bound.

If the program is selected to quit, the program shall exit.

When provided with an upper bound, the program shall determine the number of guesses required and display the valid range of numbers that the user can select.

The program shall display its guess, which guess number it is, and prompt the user as to whether the guess is lower, higher, or equal to the user's selected number.

If the user selects higher or lower, the program shall make a new guess and prompt the user about the new guess.

If the user selects equals, the program shall display the user's number and display the opening message again.

The program shall continue to make guesses and prompt the user until the user either selects equals or the program runs out of guesses.

If the program runs out of guesses, the program shall display the last guess as the user's selected number.
