System Requirements
1. A means to start the application
2. A means to quit the application
3. A means to tell the user the range of possible numbers he/she can choose(fixed at 1 - 1024 for non extra-credit)
4. A calculated upper bound (user number picked -1)
5. Use binomial theorum to search for the correct number (guess) in the range (Ex. if number higher than the middle number in the original range, adjust the range for the computer to guess the next time the first number higher than the middle number up the upperbound, split up again if number still higher or lower on next guess)

6. System shall display the each guess it makes: should be the number the user was thinking of (we hope)
7. A means to get input from the User for whether the guess is higher,equal  or lower
8. Provide a means to keep track and display guess number (Ex. the 2nd guess system makes, the 10th guess, etc)
9. A means for the game to end when 10 guesses is reached

EXTRA CREDIT
1. (Extra credit) A means for the user to set the upper bound
2. Number of guesses = log base 2 of the upper bound (round to whole number if this is a decimal)

